# Question1:- Explain key features of python that make it popular choice of programming ?


  Answer:- Key features of python that make it popular choice of programming:
  1. Python is free to use and distribiute and is supported by community.
  2. Python interpreter is avaiable for every major platform.
  3. Python programs run unchanged on most platforms.
  4. Python runs on every major platforms currently in use.
  5. Vast collection of third party libraies.

 # Question2:- Describe the role of predefined keyword and provide example of how they are used in python.

In [ ]:

#  Answer. In Python, predefined keywords are reserved words that have special meanings and cannot be 
#            used as variable names, function names, or any other identifiers.
  
#     Here the some example of predefined keywords:
   
#   False      await      else       import     pass
#   None       break      except     in         raise
#   True       class      finally    is         return
#   and        continue   for        lambda     try
#   as         def        from       nonlocal   while
#   assert     del        global     not        with
#   async      elif       if         or         yield

In [112]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
l=[1,2,"RAJ","RITIK"]
for i in l:
    print(i)

1
2
ajay
ritik

In [5]:
score = int(input("enter a no"))
if score >=90:
    print("grade A")
elif (80<=score<90):
    print("grade B")
elif (70<=score<80):
    print("grade C")
else:
    print("grade D")

enter a no 70

grade C

 # Question 3 Compare and contrast of mutable and immutable objects in python with example?

 Answer. Mutable:- Mutable objects are those objects whose values can be change.
  Example:- list, set, dictionary.

In [17]:
li= [1, 2, 3 ,"TRUE"]
li

[1, 2, 3, 'TRUE']

In [14]:
li[0]= 25
li[2]= 50
li

[25, 2, 50, 4]

 Immutable:- immutable objects are those objects whose value can not be changed
 Example:- tupple, string

In [38]:
li= "PWSKILL"
li

'PWSKILL'

In [35]:
li[0]=0

1

In [39]:
li[1]="i"

TypeError: 'str' object does not support item assignment

# Question 4 Discuss the types of different operators in python and provide examples of how they are used?

In [ ]:
# opretorts>> special keywords to perform operators>><< manage compution 
#  1.Arithmatic Operators:- 
#  Example:- +, -, *, /, %, **.

In [80]:
a=2
b=3
a+b #(+, -, *, /, %, **.)

5

In [ ]:
# 2. Comparison Operators:
# Example:- <, >, >=, <=, ==, !=.

In [97]:
a=55
b=65
a>b

False

In [ ]:
# 3. Logical Operators:
# Example:
# Logical and
# Logical or
# Logical not

In [94]:
a=15 
b=20
(a>10)and(b<30)

True

In [95]:
a=50
b=60
(a>100)or(b<10)

False

In [ ]:
# 4. Bitwise Operators:
# Example:
# Bitwise AND(&)
# Bitwise OR(|)
# Bitwise XOR(^)
# Bitwise left shift(<<)
# Bitwise right shift(>>

In [106]:
a=12
b=5

In [107]:
a&b

4

In [108]:
a|b

13

In [109]:
a^b

9

In [110]:
a<<2

48

In [111]:
a>>2

3

 # Question5 Explain typecasting in python with example?

Answer. Type casting is the method to convert the python variable datatype into a certain data type.

# change string into integer

In [49]:
st= "123"
result=int(st)
result

123

In [50]:
type(result)

int

# change float into integer

In [61]:
floa_t= 12.3
result=int(floa_t)
result

12

In [62]:
type(result)

int

# change integer into float

In [51]:
inte= 123
result=float(inte)
result

123.0

In [52]:
type(result)

float

# tuple into list

In [54]:
tup=( 1,2,3,4)
result=list(tup)
result

[1, 2, 3, 4]

In [55]:
type(result)

list

# list into tuple

In [57]:
li=( 1,2,3,4)
result=tuple(li)
result

(1, 2, 3, 4)

In [58]:
type(result)

tuple

 # Question6 How conditional statement work in python? illustrate with example.


 Ans. If the condition is true, the if block code is executed and if the condition is false, the else block code is executed.
  Types of conditional statement:
 1. if statement
 2. if-else startElement
 3. if-elif else startElement
 4. nested if-else statement
 # Example of if statement

In [63]:
a=100
if a > 0:# executethe if block , if the condition is true.
    print("the number is grather then 0 .")

the number is grather then 0 .

 # 2. if-else startElement

In [70]:
#if else>> exicute the if block when its true elseexecyte else block
weather =(input("enter weather"))
if weather == "sunny":#if condition is trueexecute if block
    print("i will play cricket")
else:
    print("i will watch tv")# if condition was false thenitexicute else

enter weather sunny

i will play cricket

 # 3. if-elif else startElement

In [68]:
age =int(input("enter a number"))
if age < 18:
    print("you are minority")
elif 18<age<=65:
    print("you are adult")
else:
    print("you are senior citizen")

enter a number 1

you are minority

# 4. nested if-else statement

In [71]:
name = input("plese enter your name")
email = input("please enter your email")
password =input("please enter your password")

if name =="":
    print("please enter vaild name cannot be empty")
else:
    if "@" not  in email:
        print("plese enter a valid email")
    else:
        if len(password) < 0 :
            print("no password enterd,plz provide a vaild password")
        else:("login/registration is successfull")

plese enter your name RITIK KUMAR
please enter your email @
please enter your password r

# question7 describe the different type of loops in python and their use case with example?

Answer:- Loop Statement:- LOOP statements execute a sequence of statements multiple times.
  Types of loop statement:
 1. For loop statement. >>for loop>> iterate over a sequence of elements>>strings , list
 2. While loop statement >> repeatedly executed a block of code until a condition is met

In [73]:
#for loop>> iterate over a sequence of elements>>strings , list
for i in "Skills":
    print(i)

s
k
i
l
l
s

In [74]:
#While loop statement >> repeatedly executed a block of code until a condition is met
n=7
i=1
while i < n:
    print(i)
    i=i+1      #itreation mean how many times  loop will exicuted
 #i<n
#1<7 true-1 i=1+1   , i=2
#2<7 true-2 i=2+1   , i=3
#3<7 true-3 i=3+1   , i=4
#4<7 true-4 i=4+1   , i=5
#5<7 true-5 i=5+1   , i=6
#6<7 true-6 i=6+1   , i=7 condition  willbreak

1
2
3
4
5
6

Break and Continue Statement:- Break statement stops the entire 
process of the loop and Continue statement only stops the current 
iteration of the loop.

In [75]:
#break terminates/exits the loop
# the condition is met it will breakloop
n=7
i=1
while i < n:
    print(i)
    i=i+1  
    if i ==3:
        break # come out of loop
else:# run successfully when codition was run without break
    print ("this will be executed when the while is run successfuly without any break")

1
2

In [76]:
#continue>> skips the iteration
n=7
i=1
while i < n:
 
    i=i+1  
    if i ==3:
        continue #
    print(i)
else:# run successfully when codition was run without break
    print ("this will be executed when the while is run successfuly without any break")

2
4
5
6
7
this will be executed when the while is run successfuly without any break